{% extends "base.html" %}

{% block heading %} 
List
{% endblock heading %}

{% block content %} 
<div class="jumbotron">
  <h1 class="display-3">List!</h1>
  <p class="lead">These are my posts! Do you want to create one?</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'posts:create' %}" role="button">Create</a>
  </p>
  <form action="" method="GET">
    <input type="text" name='q' placeholder="Search..." value="{{request.GET.q}}">
    <input class="btn btn-primary" type="submit" value="Search">
</form>
</div>


<div class="row">
{% for item in list %}
	<div class="card" style="width: 20rem;">
		{% if item.img %}
			<img class="card-img-top" src="{{item.img.url}}" alt="Card image cap">
		{% endif %}	
  		<div class="card-body">
    		<h4 class="card-title">
          {{item.title}} 
          <small>{{item.publish_date}}</small>
          {% if item.draft %}
            <span class="text-danger"> Draft </span>
          {% endif %}
          {% if item.publish_date > today %}
            <span class="text-success">Future Post</span>
          {% endif %}
        </h4>
   			<p class="card-text">{{item.content}}</p>
        <p class="card-text">Created by: {{item.author.get_full_name}}</p>
   			<a href="{% url 'posts:detail' post_slug=item.slug %}" class="btn btn-info">Detail</a>
   			<a href="{% url 'posts:update' post_slug=item.slug %}" class="btn btn-warning">Update</a>
    		<a href="{% url 'posts:delete' post_slug=item.slug %}" class="btn btn-danger">Delete</a>
  		</div>
	</div>
{% empty %}
<h1 class="text-danger">Sorry, there were no results for what you are searching for...</h1>
{% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if list.has_previous %}
            <a href="?page={{ list.previous_page_number }}&q={{request.GET.q}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ list.number }} of {{ list.paginator.num_pages }}.
        </span>

        {% if list.has_next %}
            <a href="?page={{ list.next_page_number }}&q={{request.GET.q}}">next</a>
        {% endif %}
    </span>
</div>
{% endblock content %}