{% extends "base.html" %}

{% block content %}
<br>
<div class="card">
  <div class="card-header">{{response.result.name}}</div>
  <div class="card-body">
    <h4 class="card-title">{{response.result.name}}-{{response.result.vicinity}}</h4>
    <p class="card-text">{{response.result.formatted_address}}</p>
    <a href="#" class="btn btn-primary"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
  </div>
</div>

<iframe
  id= "map"
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="" allowfullscreen>
</iframe>


<script>
function do_something(lat,lng){
	var map = $("#map")
	map.attr(
		'src', 'https://www.google.com/maps/embed/v1/directions?key={{map}}&origin='+lat+","+lng+'&destination={{response.result.geometry.location.lat}},{{response.result.geometry.location.lng}}'
		)
}

navigator.geolocation.getCurrentPosition(function(position) {
  do_something(position.coords.latitude, position.coords.longitude);
});
</script>
{% endblock %}